name: Build

on:
  [workflow_dispatch, pull_request]
  
jobs:
  build:
    name: Build Windows
    runs-on: windows-latest
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup MSBuild and add to PATH
      uses: microsoft/setup-msbuild@v1.3.1

    - name: Build VST3 SDK
      working-directory: ${{github.workspace}}/vstbuild
      run:
        cmake.exe -G "Visual Studio 17 2022" -A x64 ../vst3sdk
      
    - name: Run MSBuild
      working-directory: ${{github.workspace}}
      run: msbuild .\AudioPlugSharp.sln

    - name: Publish Linux-x64 Jack host test
      working-directory: ${{github.workspace}}
      run: dotnet publish .\AudioPlugSharpJack\AudioPlugSharpJack.csproj --runtime linux-x64 -p:PublishSingleFile=true --self-contained true

    - name: Create Linux-x64 Jack host test archive
      uses: actions/upload-artifact@v4
      with:
        name: ChartPlayerLinux
        path: ${{github.workspace}}\AudioPlugSharpJack\bin\Release\net8.0\linux-x64\publish
