name: Build

on:
  [workflow_dispatch, push, pull_request]
  
jobs:
  build:
    name: Build Windows
    runs-on: windows-latest
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup MSBuild and add to PATH
      uses: microsoft/setup-msbuild@v1.3.1

    - name: Build VST3 SDK
      working-directory: ${{github.workspace}}/vstbuild
      run:
        cmake.exe -G "Visual Studio 17 2022" -A x64 ../vst3sdk
      
    - name: Run MSBuild
      working-directory: ${{github.workspace}}
      run: msbuild .\AudioPlugSharp.sln
